@import url('./css/global.css');

header {
	display: flex;
	align-items: center;
	padding: 1rem;
	gap: 2rem;
	background-color: #eee;
	border-bottom: 1px solid silver;
}

header h1 {
	flex: 1;
}

main {
	height: calc(100% - 10.3rem);
	display: flex;
	margin-top: 2rem;
	border-top: 1px solid silver;
}

main nav {
	padding: 1rem;
	background-color: #eee;
	width: 200px;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
}

main nav ul {
	display: flex;
	flex-direction: column;
	gap: .5rem;
}

main article {
	padding: 1rem 2rem;
	flex: 1;
	overflow-y: auto;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table thead tr th,
table tbody tr td {
	text-align: center;
	padding: .6rem;
}

table thead tr {
	border-bottom: 1px solid silver;
}

table tbody tr:nth-child(even) {
	background-color: #f5f5f5;
}